<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/fragment :: head"></head>
<body>

<header th:replace="fragments/fragment :: navigation"></header>

<main class="p-5 align-content-center bg-blur error">
    <span class="text-white">Requested resource cannot be found!</span> <br/>
    <span class="text-white">We are working on it!</span>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>