<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>
<body>

<header th:replace="fragments/fragment :: navigation"></header>

<main class="p-4 align-content-center bg-blur main-content">
    <h1 class="text-light border-left pl-2 align-content-center">
        <span>Welcome to the Sneaker Shop App</span>
    </h1>

    <div class="ss-carousel">
        <span class="arrow left">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
        </span>
        <div class="carousel-content">
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247035/Air_Force_1_Low_Off-White_Volt-400x400_zedsg9.png" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247125/d8d2987ce264f06bdb9d1fc3d4e4f674_ah7eir.jpg" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247157/xavier-teo-SxAXphIPWeg-unsplash-400x400_kosmr2.jpg" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247195/1912BLB60268-9-400x400_radel9.jpg" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247238/pm61weryp6wgajvjdknc.jpg" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247267/euzfkstb1fa34hcw5ksx.jpg" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247303/1_259094_ZM-104141-ShockBlast-400x400_j4vyua.jpg" alt="Image one">
            </div>
            <div class="card">
                <img src="https://res.cloudinary.com/ddfjuzgfq/image/upload/v1623247328/images_nv9m7x.jpg" alt="Image one">
            </div>
        </div>
        <span class="arrow right">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>
        </span>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>