<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header th:replace="fragments/fragment :: navigation"></header>

<main class="sneaker-question-main">
    <h1 class="question-h1">You have a question, whether a sneaker is in stock, an issue with an order, or any
        recommendations?
        Feel free to fill out the form below </h1>

    <form th:action="@{/sneakers/ask}" method="POST" class="sneaker-question-form"
          th:object="${sneakerQuestionBindingModel}">

        <div class="form-group">
            <label class="form-question" for="questionTextArea" style="font-family: Roboto, sans-serif">Ask your question/s here:</label>
            <textarea name="question" id="questionTextArea" cols="60" rows="16" th:value="*{question}"
                      class="form-control" th:errorclass="is-invalid"></textarea>
            <small
                    th:if="${#fields.hasErrors('question')}" th:errors="*{question}"
                    class="invalid-feedback  form-text rounded">Question must be valid!</small>
        </div>

        <div class="mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Submit</button>
        </div>

    </form>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>