<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: head"></head>
<body>

<header th:replace="fragments/fragment :: navigation"></header>

<main class="add-sneaker-main">
    <form
            method="POST"
            th:action="@{/sneakers/add}"
            th:object="${sneakerAddBindingModel}"
            class="add-sneaker-form"
    >

        <div class="form-group">
            <label for="brandSelect">Brand:</label>
            <select
                    name="brand"
                    id="brandSelect"
                    class="form-control brand-select"
                    th:errorclass="is-invalid"
            >
                <option selected disabled hidden="hidden"/>
                <th:block th:each="brand : ${allBrands}">
                    <option th:selected="*{brand}" th:value="${brand}" th:text="${brand}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="conditionSelect">Condition:</label>
            <select
                    name="condition"
                    id="conditionSelect"
                    class="form-control brand-select"
                    th:errorclass="is-invalid"
            >
                <!-- TODO: When validation fails, fallback to the previous selected value (also on brand) -->
                <option selected disabled hidden="hidden"/>
                <th:block th:each="condition : ${allConditions}">
                    <option th:selected="(*{condition} == ${condition})" th:value="${condition}"
                            th:text="${condition}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="colorInput">Color:</label>
            <input name="colour" type="text" id="colorInput" th:value="*{colour}"
                   class="form-control" th:errorclass="is-invalid" required/>
            <small
                   th:if="${#fields.hasErrors('colour')}" th:errors="*{colour}"
                   class="invalid-feedback  form-text rounded">Must be a valid colour</small>
        </div>
        <div class="form-group">
            <label for="priceInput">Price:</label>
            <input name="price" type="number" id="priceInput" th:value="*{price}"
                   class="form-control" th:errorclass="is-invalid" required/>
            <small
                   th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                   class="invalid-feedback  form-text rounded">Must be positive</small>
        </div>
        <div class="form-group">
            <label for="imageInput">Image url:</label>
            <input name="sneakerImgUrl" type="url" id="imageInput" th:value="*{sneakerImgUrl}"
                   class="form-control" th:errorclass="is-invalid" required/>
        </div>
        <div class="form-group">
            <label for="quantityInput">Quantity:</label>
            <input name="quantity" type="number" min="1" maxlength="100" id="quantityInput" th:value="*{quantity}"
                   class="form-control" th:errorclass="is-invalid" required/>
            <small
                    th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
                    class="invalid-feedback  form-text rounded"></small>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Sneaker</button>
        </div>
    </form>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>